<script>
    $('#entidade').addClass('active');
</script>

<div class="container-fluid entidade">

    <div class="panel panel-default col-md-4">
        <div class="panel-heading"><strong>Dados Entidade</strong></div>
        <table class="table table-striped">
            <tr>
                <th>Tipo</th>
                <td><%= entidade.tipo %></td>        
            </tr>
            <tr>
                <th>NIF</th>
                <td><%= entidade.nif %></td>
            </tr>        
            <tr>
                <th>Morada</th>
                <td><%= entidade.morada %></td>
            </tr>        
            <tr>
                <th>CAE</th>
                <td><%= entidade.cae %></td>
            </tr>        
            <tr>
                <th>Capital Social</th>
                <td><%= entidade.capsocial %></td>
            </tr>
        </table>
    </div> 

    <div class="col-md-1"></div>

    <div class="panel panel-default col-md-3">
        <div class="panel-heading"><strong>Criação da Entidade</strong></div>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Data</th>
                    <td><%= entidade.datacriacao %></td>
                </tr>
                <tr>
                    <th>Diário República</th>
                    <td><%= entidade.criacaodr %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-1"></div>

    <div id='extinta' class="panel panel-default col-md-3">
        <div class="panel-heading"><strong>Extinção da Entidade</strong></div>

        <table class="table table-striped">
            <tr>
                <th>Data</th>
                <td><%= entidade.dataextincao %></td>
            </tr>
            <tr>

                <th>Motivo</th>
                <td><%= entidade.motivoextincao %></td>
            </tr>
            <tr>    
                <th>Diário República</th>
                <td><%= entidade.extincaodr %></td>
            </tr>
            <tr>
                <th>Reversão Património/Atribuições</th>
                <td id="reversao" ><a href='#'><%= typeof entidade.reversao!='undefined' ? entidade.reversao.nome : '-' %></a></td>
            </tr>
        </table>
    </div>

</div>

<script>
    if('<%= entidade.extinta%>' == 'false'){
       $('#extinta').hide();
    }

    $("td#reversao").click(function(e){   
        var linkname = $(this).text();
        window.location= '/entidade/' + linkname;
    });
</script>
