<script>
    $('#investimento').addClass('active');
</script>

<div class="container-fluid">
    <div class="row">        
        <div class="panel panel-default col-md-12">
            <table class="table table-striped">
                <thead>
                    <th>Tipo</th>
                    <th class="bem_movel">Data</th>
                    <th class="bem_movel">Montante</th>
                    <th class="bem_movel">Tipo de Bem</th>
                    <th class="ppp">Condições</th>
                    <th class="ppp">Duração</th>
                    <th class="ppp">Objectivo</th>
                    <th class="participacao_social">Capital</th>
                    <th class="participacao_social">Quotização</th>
                    <th class="ppp">Parceiro Público</th>
                    <th class="ppp">Parceiro Privado</th>
                    <th class="participacao_social">Participante</th>
                    <th class="participacao_social">Participada</th>
                    <th class="bem_movel">Investidor</th>
                </thead>
                <tbody>
                    <% _.each(investimentos, function(investimento){%>
                    <tr id="dados">
                        <td><%= investimento.tipo %></td>
                        <td class="bem_movel"><%= investimento.data%></td>
                        <td class="bem_movel"><%= investimento.montante%></td>
                        <td class="bem_movel"><%= investimento.tipo_bem%></td>
                        <td class="ppp"><%= investimento.condicoes%></td>
                        <td class="ppp"><%= investimento.duracao%></td>
                        <td class="ppp"><%= investimento.objectivo%></td>
                        <td class="participacao_social"><%= investimento.capital%></td>
                        <td class="participacao_social"><%= investimento.quotizacao%></td>

                        <% if (investimento.parceiro_publico) { %>
                        <td id="parpub" class="ppp"><a href="#"><%= investimento.parceiro_publico.nome %></a></td>
                        <% }else{ %>
                        <td id="parpub" class="ppp">null</td>
                        <% } %>
                        
                        <% if (investimento.parceiro_privado) { %>
                        <td id="parpriv" class="ppp"><a href="#"><%= investimento.parceiro_privado.nome %></a></td>
                        <% }else{ %>
                        <td id="parpriv" class="ppp">null</td>
                        <% } %>
                        
                        <% if (investimento.participante) { %>
                        <td id="participante" class="participacao_social"><a href="#"><%= investimento.participante.nome %></a></td>
                        <% }else{ %>
                        <td id="participada" class="participacao_social">null</td>
                        <% } %>

                        <% if (investimento.participada) { %>
                        <td id="participada" class="participacao_social"><a href="#"><%= investimento.participada.nome %></a></td>
                        <% }else{ %>
                        <td id="participada" class="participacao_social">null</td>
                        <% } %>
                        
                        <% if (investimento.investidor) { %>
                        <td id="invest" class="bem_movel"><a href="#"><%= investimento.investidor.nome %></a></td>
                        <% }else{ %>
                        <td id="invest" class="bem_movel">null</td>
                        <% } %>
                        
                        
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var classname= "<%= filtro %>";

    $('th:not(.'+classname+')').hide();
    $('td:not(.'+classname+')').hide();
    $('th:not([class])').show();
    $('td:not([class])').show();

    $("td#parpub").click(function(e){   
        var nome = $(this).text();
        window.location= '/entidade/' + nome;
    });

    $("td#parpriv").click(function(e){   
        var nome = $(this).text();
        window.location= '/entidade/' + nome;
    });

    $("td#participante").click(function(e){   
        var nome = $(this).text();
        window.location= '/entidade/' + nome;
    });

    $("td#participada").click(function(e){   
        var nome = $(this).text();
        window.location= '/entidade/' + nome;
    });

    $("td#invest").click(function(e){   
        var nome = $(this).text();
        window.location= '/entidade/' + nome;
    });
</script>