<script>
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    $('#contratacao').removeClass("btn-default").addClass("btn-primary");
</script>

<div class="container-fluid">
    <button type="button" class="btn btn-outline-primary btn-sm" id="empreitada" onclick="sorter(this.id)">Empreitada</button>

    <button type="button" class="btn btn-outline-primary btn-sm" id="bem_movel" onclick="sorter(this.id)">Bem Móvel</button>
    
    <button type="button" class="btn btn-outline-primary btn-sm" id="servico" onclick="sorter(this.id)">Serviço</button>
    
    <button type="button" class="btn btn-outline-primary btn-sm" id="avenca" onclick="sorter(this.id)">Avença</button>
    
    <div class="row">        
        <div class="panel panel-default col-md-12">
            <table class="table table-striped">
                <thead>
                    <th>Tipo</th>
                    <th>Adjudicante</th>
                    <th>Adjudicatário</th>
                    <th>Montante</th>
                    <th class='avenca'>Funções</th>
                    <th>Descrição</th>
                    <th class='empreitada avenca'>Duração</th>
                    <th class='avenca'>Fundamento</th>
                    <th class='servico'>Data Publicação</th>
                    <th>Data Início</th>
                    <th class='bemmovel'>Prazo Entrega</th>
                    <th class='bemmovel'>Prazo Pagamento</th>
                    <th class='servico'>Prazo Execução</th>
                </thead>
                <tbody>
                    <% _.each(contratos, function(contrato){%>
                    <tr id="dados">
                        <td id='tipo'><%= contrato.tipo %></td>

                        <% if (contrato.adjudicante) { %>
                        <td id="adjudicante"><a href="#"><%= contrato.adjudicante.nome %></a></td>
                        <% }else{ %>
                        <td>null</td>
                        <% } %>

                        <% if (contrato.adjudicatario) { %>
                        <td id="adjudicatario"><a href="#"><%= contrato.adjudicatario.nome %></a></td>
                        <% }else{ %>
                        <td>null</td>
                        <% } %>



                        <td><%= contrato.montante %></td>
                        <td class='avenca'><%= contrato.funcoes %></td>
                        <td><%= contrato.descricao %></td>
                        <td class='empreitad avenca'><%= contrato.duracao %></td> 
                        <td class='avenca'><%= contrato.fundamento %></td>
                        <td class='servico'><%= contrato.data_publicacao %></td>
                        <td><%= contrato.data_inicio %></td>
                        <td class='bemmovel'><%= contrato.prazo_entrega %></td>
                        <td class='bemmovel'><%= contrato.prazo_pagamento %></td>
                        <td class='servico'><%= contrato.prazo_execucao %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var classname= "<%= filtro %>";

    $('th:not(.'+classname+')').hide();
    $('td:not(.'+classname+')').hide();
    $('th:not([class])').show();
    $('td:not([class])').show();

    $("td#adjudicante").click(function(e){   
        var nome = $(this).text();
        window.location= '/entidade/' + nome;
    });

    $("td#adjudicatario").click(function(e){   
        var nome = $(this).text();
        window.location= '/entidade/' + nome;
    });

    function sorter(val) {
        var input, filter, tbody, tr, i;
        input =val;
        filter = input.toUpperCase();
        tr = document.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            if (tr[i].cells["0"].textContent.toUpperCase() == filter) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }

</script>